.card-container{
    width: 100%;
    display: block;
    padding:20px 100px;

    .card.order-card{
        background: none;
        margin-bottom: 20px;
        .card-header{
            background: none;
            padding: 10px 0px 10px;
            font-size: 20px;
            font-weight: 500;
            color:$primary;
        }
        .card-body{
            background: $white;
        }
    }
}